<!DOCTYPE html>
<html>
	<head>
		{{>head}}
	</head>

	<body>
		{{>nav}}

		<div class="container main">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="row">
						<div class="col-md-12">
              <div class="post-container">
                <img src="{{display_src}}">
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
